.grid-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 1.2em;
  grid-auto-flow: dense;
}

.grid-cell {
  padding: 1em;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
}
.grid-cell .title {
    font-family: "Trend Sans One", serif;
    color: var(--sitecolor-indigo)
}

.grid-cell.feat-1 {
  grid-row: 1 / 12;
  grid-column: 1 / -1;
  background: rgba(200, 200, 255, 0.3);
}

.grid-cell.feat-2 {
    grid-column: -3 / -1;
  background: rgba(255, 200, 255, 0.3);
}

.grid-cell.feat-3 {
    grid-column: 1 / -2;
  background: rgba(255, 200, 255, 0.3);
}

.grid-cell img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 680px) {
  .grid-wrap {
    display: flex;
    flex-direction: column;
  }
  .grid-cell {
    margin-bottom: 1em;
  }
  .grid-cell.feat-1 {
    order: -1
  }
}
